* {

    margin: 10px;
    padding: 0;
    box-sizing: border-box;

}


body {

    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}



.todo {

    width: 90%;
    max-width: 1200px;

    margin: 0 auto;
    background-color: black;

}




header {

    height: 700px;

    background: url(./fotoswebfinal/linear-gradient\(rgba\(0\,0\,0\,0.6\)\,\ rgba\(0\,0\,0\,0.6\)\)\ \(1\).png);

    background-size: cover;
    background-position: center;
    color: aliceblue;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}



.contenido-banner {

    padding: 20px;
    text-decoration: solid;
    color: rgb(172, 15, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



nav ul {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: space-between
}



nav ul li a {

    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

}







header section h1 {

    color: white;
    font-size: 120px;
    margin-top: 120px;
    margin-bottom: 0;

}



header section h2 {

    color: white;
    font-size: 40px;
    margin-top: 10px;

}



header section p {

    color: white;
    font-size: 20px;
    margin: 10px 0;

}







header section div {

    display: inline-block;
    margin-right: 40px;
    margin-top: 100px;

}



header section div p {

    color: white;
    font-size: 25px;

}

.logos {

    display: flex;
    justify-content: space-between;
    align-items: end;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 220px;
    width: 100%;

}



.logo1 {

    display: flex;
    align-items: center;
    column-gap: 10px;

}



.logo2 {

    display: flex;
    align-items: center;
    column-gap: 10px;

    margin-left: auto;
    margin-right: 0;

}



.logo1 img {

    width: 40px;
    height: 40px;
}



.logo2 img {

    width: 40px;
    height: 40px;
}



.logo1 p {

    color: white;
    font-size: 18px;
}



.logo2 p {

    color: white;
    font-size: 18px;
    margin: 0;
}

.titulocontador {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contador {

    width: 100%;
    color: aliceblue;
    background-color: hsl(0, 51%, 18%);
    display: flex;
    justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;

}

main section h1 {

    background-color: hsl(0, 51%, 18%);
    color: white;

    text-align: center;

    padding: 10px;

    font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;

}






main section {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}



article {

    width: 30%;

    min-width: 300px;

    margin-top: 50px;

}


article h1 {

    color: white;
    font-size: 35px;
    margin-bottom: 30px;

}



article p {

    color: white;
    line-height: 30px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}





.imagen {

    width: 100%;

    margin-top: 30px;

    display: flex;

    justify-content: center;

}

.imagen img {

    width: 100%;

    max-width: 350px;

    height: 250px;

    object-fit: cover;

    border-radius: 10px;

}





@media(max-width:768px) {

    .todo {

        width: 100%;

    }



    main section {

        flex-direction: column;
        align-items: center;

    }



    article {

        width: 90%;

    }



    section div {

        width: 90%;

    }



    header section h1 {

        font-size: 70px;

    }



    header section h2 {

        font-size: 25px;

    }



    main section h1 {

        font-size: 40px;

    }



    nav ul {

        justify-content: center;

    }

}

.destacadodd{

    padding: 80px;
    text-align: end;
    color: aliceblue;
    
}